services:
  app:
    build:
      dockerfile_inline: |
        FROM ghcr.io/astral-sh/uv:python3.12-bookworm-slim
        RUN apt-get update && apt-get install -y git

        WORKDIR app/
        COPY pyproject.toml uv.lock /app
        RUN uv sync --frozen --no-dev
        ENV PATH="/app/.venv/bin:$PATH"
        COPY . /app
        ENTRYPOINT []
        CMD ["opentelemetry-instrument", "python", "chatbot.py"]
    volumes:
      - ${GOOGLE_APPLICATION_CREDENTIALS:-/dev/null}:${GOOGLE_APPLICATION_CREDENTIALS:-/dev/null}:ro
    environment:
      - OTEL_EXPORTER_OTLP_ENDPOINT=http://otelcol:4317
      - OTEL_SERVICE_NAME=langgraph-chatbot-demo
      - OTEL_PYTHON_LOGGING_AUTO_INSTRUMENTATION_ENABLED=true
      - OTEL_INSTRUMENTATION_GENAI_CAPTURE_MESSAGE_CONTENT=true

      - GOOGLE_CLOUD_PROJECT
      - GOOGLE_CLOUD_QUOTA_PROJECT
      - GOOGLE_APPLICATION_CREDENTIALS
    depends_on:
      - otelcol

  otelcol:
    image: otel/opentelemetry-collector-contrib:0.118.0
    volumes:
      - ./otel-collector-config.yaml:/etc/otelcol-contrib/config.yaml:ro
      - ${GOOGLE_APPLICATION_CREDENTIALS:-/dev/null}:${GOOGLE_APPLICATION_CREDENTIALS:-/dev/null}:ro
    environment:
      - GOOGLE_CLOUD_PROJECT
      - GOOGLE_CLOUD_QUOTA_PROJECT
      - GOOGLE_APPLICATION_CREDENTIALS
    # If the collector does not have permission to read the mounted volumes, set
    # USERID=$(id -u) to run the container as the current user
    user: $USERID

volumes:
  logs:
